.flex {
  flex-direction: column;
  justify-content: flex-start
}

ul li span {
  font-weight: bold;
}

@media only screen and (min-width: 900px) {
  .flex {
    max-width: 1200px;
  }

  #home .text {
    order: 0;
    max-width: 1200px;
    text-align: justify;
  }
  
  #home .text li {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 899px) {
  .flex {
    flex-direction: column;
    align-items: center;
}

}